.today
  = @today

%nav.days
  = link_to "?date=#{@yesterday}", class: 'yesterday' do
    = @yesterday
  - if @tomorrow < Date.today
    = link_to "?date=#{@tomorrow}", class: 'tomorrow' do
      = @tomorrow

%figure.map{ :id => 'map', 'data-geojson' => @geodata_json }
