- @places.each do |place|
  .meta.marker-detail{ 'data-starttime' => "#{place['starttime']}" }
    %h2.title
    - if current_user.connected_instagram?
      - @instagram_photos.reverse.each do |photo|
        - if timestamp_in_range?(photo['timestamp'], place['starttime'], place['endtime'])
          = render 'photo', photo: photo
    .item.music
      = image_tag('music1.jpg')
      .detail
        %span.album Lanterns
        %span.artist Son Lux
    .item.music
      = image_tag('music2.jpg')
      .detail
        %span.album The Grand Budapest Hotel (Original Soundtrack
        %span.artist Various Artists
    .time
      %span.arrived
      %span.duration
    = link_to '', '#', class: 'detail-previous'
    = link_to '', '#', class: 'detail-next'
