%nav.meta
  = link_to '#', class: 'activate-meta-pane sleep', 'data-target' => 'places' do
    %span="Visited #{@places.count} places"
  = link_to '#', class: 'activate-meta-pane', 'data-target' => 'journal' do
    %span Wrote 286 words
  = link_to '#', class: 'activate-meta-pane', 'data-target' => 'photos' do
    %span="Took #{@instagram_photos.count} photos"
  = link_to '#', class: 'activate-meta-pane', 'data-target' => 'texts' do
    %span= "Sent #{@texts.count} messages"
  = link_to '#', class: 'weather' do
    %span.temp
      %span.low= "#{@weather['low']}&deg;".html_safe
      %span.high= "#{@weather['high']}&deg;".html_safe
  .tilt-hint
    %span At a glance:
    %span.places= "#{@places.count} places"
    %span.words 286 words
    %span.photos="#{@instagram_photos.count} photos"
    %span.texts= "#{@texts.count} messages" 
  .deactivate-meta-nav
