.meta.places
  %ol
    - @places.each do |place|
      %li.place{ 'data-arrival' => "#{place['arrival']}" }
        %span.title= place['title']
        %span.time= "Arrived at #{place['arrival']}, stayed for #{place['duration']}."
