.activate-upper-nav
.upper-nav
  %nav.settings
    %ol
      %li
        = link_to account_path do
          %i.fa.fa-cog
          Settings
  = render :partial => 'calendar'

  .tilt-hint
    %span Calendar
  .deactivate-upper-nav

.activate-meta-nav  
= render :partial => 'meta-nav'

.partial-anchor
= render :partial => 'marker-details'
= render :partial => 'places'
= render :partial => 'photos'
= render :partial => 'journal'
= render :partial => 'music'

.loading-text
  %span= @today.strftime('%a %b %e')
= render :partial => 'map'
