.activate-upper-nav
.upper-nav
  %nav.settings
    %ol
      %li
        = link_to account_path do
          %i.fa.fa-cog
          Settings

  %nav.calendar
    %ol
      %li.month February
      - 28.times do |n|
        %li= n+1
      %li.month March
      - 31.times do |n|
        %li= n+1
      %li.month April
      - 30.times do |n|
        %li= n+1
  .tilt-hint
    %span Calendar
  .deactivate-upper-nav

.activate-meta-nav  
%nav.meta
  = link_to '#' do
    %span Slept 8 hours
  = link_to '#', class: 'activate-meta-pane', 'data-target' => 'journal' do
    %span Wrote 356 words
  = link_to '#', class: 'activate-meta-pane', 'data-target' => 'photos' do
    %span Took 2 photos
  = link_to '#', class: 'activate-meta-pane', 'data-target' => 'music' do
    %span Played 11 songs
  = link_to '#', class: 'weather' do
    %span.temp
      %span.low 30&deg;
      %span.high 50&deg;
    %span.condition Cloudy
  .tilt-hint
    %span Full day statistics
  .deactivate-meta-nav

.meta.marker-detail
  %h2.title
  .item.image
    = image_tag('ig4.jpg')
    .detail
      %span.desc Good mooooorning Ryder
  .item.image
    = image_tag('ig5.jpg')
    .detail
      %span.desc #Ryder mornings
  .item.video
    %video{ 'src' => '/assets/vid1.m4v', 'autoplay' => 'true', 'loop' => 'true' }
    .detail
      %span.desc @aaron10buuren and @jillianbass seesawing
  .item.music
    = image_tag('music1.jpg')
    .detail
      %span.album Lanterns
      %span.artist Son Lux
  .item.music
    = image_tag('music2.jpg')
    .detail
      %span.album The Grand Budapest Hotel (Original Soundtrack
      %span.artist Various Artists
  .item.time
    %span Arrived at 12:35pm
    %span Spent 20 minutes here
  = link_to '', '#', class: 'detail-previous'
  = link_to '', '#', class: 'detail-next'

.meta.marker-detail
  %h2.title
  .item.image
    = image_tag('ig1.jpg')
  .item.music
    = image_tag('music1.jpg')
    .detail
      %span.album Lanterns
      %span.artist Son Lux
  .item.music
    = image_tag('music2.jpg')
    .detail
      %span.album The Grand Budapest Hotel (Original Soundtrack
      %span.artist Various Artists
  .item.time
    %span Arrived at 12:35pm
    %span Spent 20 minutes here
  = link_to '', '#', class: 'detail-previous'
  = link_to '', '#', class: 'detail-next'

.meta.marker-detail
  %h2.title
  .item.music
    = image_tag('music2.jpg')
    .detail
      %span.album The Grand Budapest Hotel (Original Soundtrack
      %span.artist Various Artists
  .item.time
    %span Arrived at 12:35pm
    %span Spent 20 minutes here
  = link_to '', '#', class: 'detail-previous'
  = link_to '', '#', class: 'detail-next'

= render :partial => 'journal'
= render :partial => 'music'
= render :partial => 'photos'

= render :partial => 'map'
