.today
  = @today.strftime('%a %b %e')

- if @tomorrow < Date.today
  = link_to day_path(@tomorrow), class: 'tomorrow' do
    = @tomorrow.strftime('%a %b %e')
= link_to day_path(@yesterday), class: 'yesterday' do
  = @yesterday.strftime('%a %b %e')

%figure.map{ :id => 'map', 'data-geojson' => @geodata_json }

%nav.account
  = link_to 'Connected Apps / Settings', account_path
  = link_to '&#8998'.html_safe, sign_out_path, class: 'signout', title: 'Sign out', method: :delete
