.activate-upper-nav
.upper-nav
  %nav.settings
    %ol
      %li
        = link_to account_path do
          %i.fa.fa-cog
          Settings
  = render :partial => 'calendar'

  .tilt-hint
    %span Calendar
  .deactivate-upper-nav

.activate-meta-nav  
%nav.meta
  = link_to '#' do
    %span Slept 8 hours
  = link_to '#', class: 'activate-meta-pane', 'data-target' => 'journal' do
    %span Wrote 286 words
  = link_to '#', class: 'activate-meta-pane', 'data-target' => 'photos' do
    %span Took 5 photos
  = link_to '#', class: 'activate-meta-pane', 'data-target' => 'music' do
    %span Played 11 songs
  = link_to '#', class: 'weather' do
    %span.temp
      %span.low 30&deg;
      %span.high 50&deg;
    %span.condition Cloudy
  .tilt-hint
    %span At a glance: 286 words, 5 photos, 11 songs, ...
  .deactivate-meta-nav

.meta.marker-detail
  %h2.title
  .item.image
    = image_tag('ig5.jpg')
    .detail
      %span.desc #Ryder mornings
  .item.video
    %video{ 'src' => '/assets/vid1.m4v', 'autoplay' => 'true', 'loop' => 'true', 'muted' => true }
    .detail
      %span.desc @aaron10buuren and @jillianbass seesawing
  .item.music
    = image_tag('music1.jpg')
    .detail
      %span.album Lanterns
      %span.artist Son Lux
  .item.music
    = image_tag('music2.jpg')
    .detail
      %span.album The Grand Budapest Hotel (Original Soundtrack
      %span.artist Various Artists
  .time
    %span.arrived
    %span.duration
  = link_to '', '#', class: 'detail-previous'
  = link_to '', '#', class: 'detail-next'

.meta.marker-detail
  %h2.title
  .item.image
    = image_tag('ig1.jpg')
  .item.music
    = image_tag('music1.jpg')
    .detail
      %span.album Lanterns
      %span.artist Son Lux
  .time
    %span.arrived
    %span.duration
  = link_to '', '#', class: 'detail-previous'
  = link_to '', '#', class: 'detail-next'

.meta.marker-detail
  %h2.title
  .time
    %span.arrived
    %span.duration
  = link_to '', '#', class: 'detail-previous'
  = link_to '', '#', class: 'detail-next'

= render :partial => 'journal'
= render :partial => 'music'
= render :partial => 'photos'

.loading-text
  %span
= render :partial => 'map'
