.activate-upper-nav
.upper-nav
  %nav.settings
    %ol
      %li
        = link_to account_path do
          %i.fa.fa-cog
          Settings
  = render :partial => 'calendar'

  .tilt-hint
    %span Calendar
  .deactivate-upper-nav

.activate-meta-nav  
= render :partial => 'meta-nav'

.partial-anchor
= render :partial => 'marker-details' if current_user.connected_moves?
= render :partial => 'places' if current_user.connected_moves?
= render :partial => 'photos' if current_user.connected_instagram?
= render :partial => 'journal' if current_user.uploaded_journal?
= render :partial => 'texts' if current_user.uploaded_texts?

.loading-text
  %span= @today.strftime('%a %b %e')
= render :partial => 'map' if current_user.connected_moves?
