- content_for :body_classes, 'day-view'

.activate-upper-nav
.upper-nav
  %nav.settings
    %ol
      %li
        = link_to '#' do
          %i.fa.fa-cog
          Edit connected apps
      %li
        = link_to account_path do
          %i.fa.fa-cog
          Edit email and password

  %nav.calendar
    %ol
      %li.month February
      - 28.times do |n|
        %li= n+1
      %li.month March
      - 31.times do |n|
        %li= n+1
      %li.month April
      - 30.times do |n|
        %li= n+1

  .deactivate-upper-nav

.activate-meta-nav  
%nav.meta
  = link_to '#' do
    %i.fa.fa-moon-o
    %span.title Slept 8 hours
  = link_to '#', class: 'activate-meta-pane', 'data-target' => 'journal' do
    %i.fa.fa-book
    %span.title Wrote 356 words
  = link_to '#', class: 'activate-meta-pane', 'data-target' => 'photos' do
    %i.fa.fa-instagram
    %span.title Took 2 photos
  = link_to '#', class: 'activate-meta-pane', 'data-target' => 'music' do
    %i.fa.fa-music
    %span.title Played 11 songs
  = link_to '#', class: 'weather' do
    %span.low 30&deg;
    %span.high 50&deg;
    %span.condition Cloudy
  .deactivate-meta-nav

.meta.marker-detail
  %h2.title
  .item.image
    = image_tag('ig4.jpg')
    .detail
      %span.desc Good mooooorning Ryder
  .item.image
    = image_tag('ig5.jpg')
    .detail
      %span.desc #Ryder mornings
  .item.video
    %video{ 'src' => '/assets/vid1.m4v', 'autoplay' => 'true', 'loop' => 'true' }
    .detail
      %span.desc @aaron10buuren and @jillianbass seesawing
  .item.music
    = image_tag('music1.jpg')
    .detail
      %span.album Lanterns
      %span.artist Son Lux
  .item.music
    = image_tag('music2.jpg')
    .detail
      %span.album The Grand Budapest Hotel (Original Soundtrack
      %span.artist Various Artists
  .item.time
    %span Arrived at 12:35pm
    %span Spent 20 minutes here
  = link_to 'Came from Apple Store, Boylston Street', '#', class: 'detail-previous'
  = link_to 'Left for 66 bus stop', '#', class: 'detail-next'

.meta.marker-detail
  %h2.title
  .item.image
    = image_tag('ig1.jpg')
  .item.music
    = image_tag('music1.jpg')
    .detail
      %span.album Lanterns
      %span.artist Son Lux
  .item.music
    = image_tag('music2.jpg')
    .detail
      %span.album The Grand Budapest Hotel (Original Soundtrack
      %span.artist Various Artists
  .item.time
    %span Arrived at 12:35pm
    %span Spent 20 minutes here
  = link_to 'Came from Home', '#', class: 'detail-previous'
  = link_to 'Left for Snell Library', '#', class: 'detail-next'

.meta.marker-detail
  %h2.title
  .item.music
    = image_tag('music2.jpg')
    .detail
      %span.album The Grand Budapest Hotel (Original Soundtrack
      %span.artist Various Artists
  .item.time
    %span Arrived at 12:35pm
    %span Spent 20 minutes here
  = link_to 'Came from Ryder Hall', '#', class: 'detail-previous'
  = link_to 'Left for 7-Eleven', '#', class: 'detail-next'

.meta.journal
  %article
    %p I had a haircut appointment before noon today, so at least I had a reason to get out of bed. I arrived just on time and talked with Josh about Puerto Rico and school — it was a good haircut. I didn&rsquo;t quite know where to go afterwards but I always enjoy being around the South End. I walked around until I thought of going to Bostonian Market for a cheap sandwich. I&rsquo;d just read a great article about a food and blankets van that Pine Street Inn sends around Downtown Crossing at night during the winter, so it was nice to watch the Pine Street people across the street / in the market while I ate. Maybe once I have more time in NY I&rsquo;ll volunteer at a place like Pine Street.
    %p I got the bus home and took a long nap before heading to Gallows for Ben&rsquo;s goodbye party — he leaves for NY and Yahoo on Friday. I chatted with the guy from Pilot who I&rsquo;ve met before (Ben was getting hounded by everyone he knew), and I tried a &ldquo;Scotch Egg&rdquo; for the first time which is a $6 egg (at Gallows at least) that&rsquo;s breaded and fried and contains shredded pork. I got some advice on submitting my notice from Ben, who&rsquo;s been around the block.
    %p Tasty Tuesday was happening and I was already late, so I got an UberX from Foodie&rsquo;s to to Nicole&rsquo;s to catch the last of it — the ride only took 5 mins and cost $5, which is crazy cheap to me. Less than a Scotch Egg. I hung around with everyone until Nicole kicked us out, but I was kinda being a bum on the couch the whole time.

.meta.music
  %ol
    %li Childish Gambino — Song Name

.meta.photos
  %ol
    %li= image_tag('ig1.jpg')
    %li= image_tag('ig2.jpg')
    %li= image_tag('ig3.jpg')
    %li= image_tag('vid1.m4v')
    %li= image_tag('ig4.jpg')

.today-text
  = @today.strftime('%a %b %e')

- if @tomorrow < Date.today
  = link_to day_path(@tomorrow), class: 'tomorrow-link' do
    = @tomorrow.strftime('%a %b %e')
= link_to day_path(@yesterday), class: 'yesterday-link' do
  = @yesterday.strftime('%a %b %e')

%figure.map.map-today#map{ 'data-geojson' => @geodata_json }
%figure.map.map-yesterday
%figure.map.map-tomorrow
