.activate-upper-nav
.upper-nav
  %nav.settings
    %ol
      %li
        = link_to account_path do
          %i.fa.fa-cog
          Settings
  = render :partial => 'calendar'

  .tilt-hint
    %span Calendar
  .deactivate-upper-nav

.activate-meta-nav  
= render :partial => 'meta-nav'

.meta.marker-detail
  %h2.title
  .item.image
    = image_tag('ig5.jpg')
    .detail
      %span.desc #Ryder mornings
  .item.video
    %video{ 'src' => '/assets/vid1.m4v', 'autoplay' => 'true', 'loop' => 'true', 'muted' => true }
    .detail
      %span.desc @aaron10buuren and @jillianbass seesawing
  .item.music
    = image_tag('music1.jpg')
    .detail
      %span.album Lanterns
      %span.artist Son Lux
  .item.music
    = image_tag('music2.jpg')
    .detail
      %span.album The Grand Budapest Hotel (Original Soundtrack
      %span.artist Various Artists
  .time
    %span.arrived
    %span.duration
  = link_to '', '#', class: 'detail-previous'
  = link_to '', '#', class: 'detail-next'

= render :partial => 'places'
= render :partial => 'journal'
= render :partial => 'music'
= render :partial => 'photos'

.loading-text
  %span= @today.strftime('%a %b %e')
= render :partial => 'map'
