!!!
%html
  %head
    %title keepsakes
    = stylesheet_link_tag    '//cloud.typography.com/7346032/766604/css/fonts.css'
    = stylesheet_link_tag    '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{ class: "#{yield :body_classes}" }
    #flash
      - flash.each do |key, value|
        %div{ class: "flash #{key}" }
          = value

    = yield
